<div class="container">
    <div class="form-group"> 
      <button class="btn btn-success"> Hamburguesa <br> simple </button>
      <button class="btn btn-success"> Hamburguesa <br> doble </button>
      <button class="btn btn-info"> Papas fritas </button>
      <button class="btn btn-info"> Onion rings</button>
    </div>
    <div class="form-group">
      <button class="btn btn-primary"> Agua 500ml</button>
      <button class="btn btn-primary"> Agua 750ml</button>
      <button class="btn btn-primary"> Refresco 500ml</button>
      <button class="btn btn-primary"> Refresco 750ml</button>
    </div>
  </div>