<div class="row">
  <div class="col-md-6 col-lg-8 card mx-auto mt-5">
    <p class="h3 text-center">Usuario</p>
    <form>
      <div class="form-group">
        <label for="email-user">Correo</label>
        <i class="fas fa-at"></i><input type="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email de Usuario">
      </div>
      <div class="form-group">
        <label for="password-user">Contraseña</label>
        <i class="fas fa-at"></i><input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Contraseña">
      </div>
      <input type="button" class="btn btn-primary offset-5 btn-md" (click)="loginUser()" value="Entrar">
    </form>
  </div>
</div>
