<div class="row">
  <div class="col-8 col-lg-8 d-flex card mx-auto mt-5">
    <p class="h3 text-center">Usuario</p>
    <form>
      <div class="form-group d-flex col-lg-6 col-6 offset-3">
        <i class="fas fa-user"></i><input type="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email de Usuario">
      </div>
      <div>
        <input type="button" class="btn btn-primary offset-5 btn-md" (click)="resetPassword(email)" value="Enviar">
      </div>
    </form>
  </div>
</div>
